body{
    background-color: white;
}

.contenedor__logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3% 0%;
}



.contenedor__elementos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0% 20%;
}